[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
django-filter = "*"
django-cors-headers = "*"
pillow = "*"
pyjwt = "==1.7.1"
djangorestframework-simplejwt = "==4.3.0"
djoser = "==2.0.3"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
